
<!DOCTYPE html>
<html>
<body>

<h2> Here's to a new addition! </h2>

<h3> Name </h3>

<form action="">

<label for="class">Class:</label>
<select id="class" name="class">
  <option value="barbarian">Barbarian</option>
  <option value="bard">Bard</option>
  <option value="cleric">Cleric</option>
  <option value="druid">Druid</option>
  <option value="fighter">Fighter</option>
  <option value="monk">Monk</option>
  <option value="paladin">Paladin</option>
  <option value="ranger">Ranger</option>
  <option value="rogue">Rogue</option>
  <option value="sorcerer">Sorcerer</option>
  <option value="warlock">Warlock</option>
  <option value="wizard">Wizard</option>
</select>
<input type="submit">

<label for="species">Species:</label>
<select id="species" name="species">
  <option value="dragonborn">Dragonborn</option>
  <option value="dwarf">Dwarf</option>
  <option value="elf">Elf</option>
  <option value="gnome">Gnome</option>
  <option value="halfling">Halfling</option>
  <option value="human">Human</option>
  <option value="orc">Orc</option>
  <option value="tiefling">Tiefling</option>
</select>
<input type="submit">

<label for="alignment">Alignment:</label>
<select id="alignment" name="alignment">
  <option value="lawgood">Lawful Good</option>
  <option value="neugood">Neutral Good</option>
  <option value="chaogood">Chaotic Good</option>
  <option value="lawneu">Lawful Neutral</option>
  <option value="trueneu">True Neutral</option>
  <option value="chaoneu">Chaotic Neutral</option>
  <option value="lawevil">Lawful Evil</option>
  <option value="neuevil">Neutral Evil</option>
  <option value="chaoebil">Chaotic Evil</option>
</select>
<input type="submit">

</form>

<p> Notes Section
</p>

</body>
</html>