<!DOCTYPE html>
<html>
<body>

<h3>World Name</h3>

<form action="">

<label for="worldchoice">Are You the DM or A Player?</label>

<select id="worldchoice" name="wowrldchoice">
  <option value="dm">DM</option>
  <option value="player">Player</option>
</select>
<input type="submit">

<p>Notes Section </p>

</form>
</body>
</html>